{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}
<div class="span12" id="span12interieur">
	<legend color="dark"><h2 id="h2title">Connexion</h2></legend>
	<form action="{{ path("fos_user_security_check") }}" method="post">
		<p>
		Identifiant :<br><br>
		<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" /><br><br>
		
		Mot de passe :<br><br>
		<input type="password" id="password" name="_password" required="required" /><br><br>
		
		Se souvenir de moi :
		<input type="checkbox" id="remember_me" name="_remember_me" value="on" /><br>
		
		<br><br>
		<input type="submit" id="_submit" name="_submit" value="{{ 'Login'|trans }}" /><br><br>
		</p>
	</form>
{% endblock fos_user_content %}
