{# src/Sujet2/DevSpeBundle/Resources/views/Sujet2View/banniere.html.twig #}

<div class="row-fluid">
    <div class="span12 offset1" id="span12fond">
		<div class="span12" id="span12blue">
			<div class="span6"><p><h1>Gestion des affectations des stages aux enseignants<br></h1></p></div>
			<div class="span4 offset2" id="span4image"><img src="img/logo_univ.jpg" class="img-circle"></div>
		</div>
        		
	</div>
</div>