<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Sdz</title>
      <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div id="header" class="hero-unit">
	   <nav class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
              <li> <a href="#">Accueil</a> </li>
              <li> <a href="#">Liens</a> </li>
              <li> <a href="#">Témoignages</a> </li>
             <li> <a href="#">Références</a> </li>
            </ul>
          </div>	
	   </nav>
	   </div>
    </div>
 
  </body>
</html>