{# src/Sujet2/DevSpeBundle/Resources/views/Sujet2View/acceuilgestionnaire.html.twig #}
 
{% extends "::layout.html.twig" %}

{% block title %} Acceuil {% endblock %}

{% block body %} 
{% include "Sujet2DevSpeBundle:Sujet2View:MenuGestionnaire.html.twig" %}

{# <div class="span12" id="span12intérieur"> #}
			<legend color="dark"><h2 id="h2title">Bienvenue</h2></legend>
			<p><b>
			 Vous êtes à présent connecté en tant que gestionnaire.</p><br>
			 <p>
			 Vous pouvez réaliser plusieurs actions différentes à savoir :
			 </p>
			 <div class="span6" id="spanfondblue">
				<ul>
				   <li>Créer et visualiser une session</li>
				   <li>Valider des voeux</li>
				   <li>Importer certaines tables en CSV</li>
				   <li>Modifier certains éléments de votre profil</li>
				</ul>
				<br>
			 </div>
{% endblock %}