{# src/Sujet2/DevSpeBundle/Resources/views/Sujet2View/formulaire_phase4.html.twig #}


<<<<<<< HEAD

<form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form.lots) }} </br></br>
    <input type="submit" class="btn btn-primary" />
</form>
 
=======
<div class="well">

<legend>Choix des lots de la session - Phase 4/5</legend> 

   	 <form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }} </br></br>
    <input type="submit" class="btn btn-primary" />
  </form>
 
</div>
>>>>>>> ed7d05e5e2418add799a6a4bb8d348e4a4706a99
