{# src/Sujet2/DevSpeBundle/Resources/views/Sujet2View/formulaire_phase4.html.twig #}


<form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form.lots) }} </br></br>
    <input type="submit" class="btn btn-primary" />
</form>
 
