<<<<<<< HEAD
{# src/Sujet2/DevSpeBundle/Resources/views/Sujet2View/formulaire_adresse_enseignant.html.twig #}

<legend><h2 id="h2title">Param&eacutetrage de l'adresse personnel</h2></legend>


<form method="post" {{ form_enctype(form) }}>
=======
﻿{# src/Sujet2/DevSpeBundle/Resources/views/Sujet2View/formulaire_adresse_enseignant.html.twig #}

<legend>Parametrage de l'adresse personnel</legend>

<form method="post" {{ form_enctype(form) }}>
    
>>>>>>> 39153aa81a69b5cfddb33c90bc1dc53cc81bf1c5
	{{ form_widget(form) }} </br></br>
	
	<input type="submit" class="btn btn-primary" />
</form>
