{# src/Sujet2/DevSpeBundle/Resources/views/Sujet2View/formulaire_phase3.html.twig #}


<form method="post" {{ form_enctype(fo) }}>
	  <ul>
	  {% for enseignant in listeEnseignants %}
		<li>{{ enseignant.ensNom }}  {{ enseignant.ensPrenom }} </li>  	
			  {{ form_widget(form[i].nbSuivi) }} </br></br>
	  {% set i = i + 1 %}
	  <legend></legend>
	  {% endfor %}
	</ul>
	<input type="submit" class="btn btn-primary" />
</form>

