{# src/Sujet2/DevSpeBundle/Resources/views/Sujet2View/formulaire_phase1.html.twig #}

 <div class="well">

<legend>Choix des paramètres pour la session - Phase 1/5</legend> 

  <form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }} </br></br>
    <input type="submit" class="btn btn-primary" />
  </form>
</div>

<script>
$("form input.date").datepicker({
    dateFormat: 'dd/MM/yyyy', 
}).attr("readonly","readonly"); 
</script>
