{# src/Sujet2/DevSpeBundle/Resources/views/Sujet2View/formulaire_phase2.html.twig #}
 
{# Cette vue n'hérite de personne, elle sera incluse par d'autres vues qui, elles, hériteront probablement du layout. #}
{# Je dis « probablement » car, ici pour cette vue, on n'en sait rien et c'est une info qui ne nous concerne pas. #}
 
<h3>Choix des paramètres pour la session</h3>
 

<div class="well">
  <form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" />
  </form>
</div>