{# src/Sujet2/DevSpeBundle/Resources/views/Sujet2View/formulaire_voeux_enseignant.html.twig #}

<legend><h2 id="h2title">Saisir un voeux</h2></legend>

<form method="post" {{ form_enctype(form) }}>
	{{ form_widget(form) }} </br></br>

	<input type="submit" class="btn btn-primary" />
</form>
