{# src/Sujet2/DevSpeBundle/Resources/views/Sujet2View/formulaire_adresse_enseignant.html.twig #}

<legend><h2 id="h2title">Param&eacutetrage de l'adresse personnel</h2></legend>

<form method="post" {{ form_enctype(form) }}>
<p>
	Saisir votre adresse :</br></br>
	{{ form_widget(form.ensAdresse) }} </br></br>
	<input type="submit" class="btn btn-primary" />
<p>
</br>
</form>
