{# src/Sujet2/DevSpeBundle/Resources/views/Sujet2View/formulaire_adresse_enseignant.html.twig #}

<legend>Parametrage de l'adresse personnel</legend>

<form method="post" {{ form_enctype(form) }}>
	
{{ form_widget(form) }} </br></br>
	
	<input type="submit" class="btn btn-primary" />
</form>
