{# src/Sujet2/DevSpeBundle/Resources/views/Sujet2View/formulaire_phase1.html.twig #}

<legend>Choix des paramètres pour la session - Phase 1/5</legend>

  <form class="form-horizontal well">   
  <div class="progress progress-striped active">
   <div class="bar" style="width: 20%"></div> </blockquote><label>		20%</label>
	
  </div>
 
   <div id="alerte" class="alert alert-error" style="display:none"> <strong>La date de retour doit être postérieure à la date de départ !</strong> </div>
    
	<form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }} </br></br>
    <input type="submit" class="btn btn-primary" />
  </form>


    <input type="submit" class="btn btn-primary" value="Suivant" />
  </form>

</body>
<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('bootstrap/js/bootstrap-datepicker.js')}}"></script>
<script>
$("form input.date").datepicker({
    dateFormat: 'ddMMyy', 
    firstDay:1
}).attr("readonly","readonly"); 
</script>
