{# src/Sujet2/DevSpeBundle/Resources/views/Sujet2View/formulaire_phase3.html.twig #}


 <div class="well">

<legend>Choix des quotas - Phase 3/5</legend> 
<form method="post" {{ form_enctype(fo) }}>
  <ul>
  {% for enseignant in listeEnseignants %}
    <li>{{ enseignant.ensNom }}  {{ enseignant.ensPrenom }} </li>  	
          {{ form_widget(form[i]) }} </br></br>
  {% set i = i + 1 %}
  {% endfor %}
</ul>
<input type="submit" class="btn btn-primary" />
</form>


  
</div>
