{# src/Sujet2/DevSpeBundle/Resources/views/Sujet2View/menuGestionnaire.html.twig #}

<!-- barre Gestionnaire -->

<!--<div class="row-fluid">
    <div class="span12 offset1" id="span12fond">
		<div class="span12" id="span12blue">
			<div class="span6"><p><h1>Gestion des affectations des stages aux enseignants<br></h1></p></div>
			<div class="span4 offset2" id="span4image"><img src="img/logo_univ.jpg" class="img-circle"></div>
		</div>-->
	
		<nav class="navbar navbar-inverse" id="navbar">
		  <div class="navbar-inner">
			<div class="container">
			  <ul class="nav">
				<li class="brand">Gestionnaire</li>
				<li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Session <b class="caret"></b> </a>
				  <ul class="dropdown-menu">
					<li><a href="{{path('sujet2devspe_phase1')}}">Créer</a></li>
					<li class="divider"></li>
					<li><a href="#">Visualiser</a></li>
				  </ul>
				</li>
				<li> <a href="#">Validation des voeux</a> </li>
				<li> <a href="#">Importer CSV</a> </li>
				<li> <a href="#">Profil</a> </li>
			  </ul>
			</div>
		  </div>
		</nav>
		