{# src/Sujet2/DevSpeBundle/Resources/views/Sujet2View/phase1.html.twig #}
 
{% extends "::layout.html.twig" %}
 
{% block title %}{{ parent() }} - Phase1{% endblock %}


 
{% block body %}
    {% include "Sujet2DevSpeBundle:Sujet2View:MenuGestionnaire.html.twig" %}
	<div class="span12" id="span12interieur">
	<legend><h2 id="h2title">Choix des paramètres pour la session - Phase 1/5</h2></legend>
    {% include "Sujet2DevSpeBundle:Sujet2View:formulaire_phase1.html.twig" %}
{% endblock %}