{# src/Sujet2/DevSpeBundle/Resources/views/Sujet2View/profilenseignant.html.twig #}
 
{% extends "::layout.html.twig" %}

{% block title %} Profil {% endblock %}

{% block body %} 
{% include "Sujet2DevSpeBundle:Sujet2View:MenuEnseignant.html.twig" %}
<div class="span12" id="span12interieur">
			<legend><h2 id="h2title">Profil</h2></legend>
			<p>

				Nom : 
				{{ enseignant.ensNom }} <br>
				Prénom : 
				{{ enseignant.ensPrenom }} <br>
				Adresse : 
				{{ enseignant.ensAdresse }} <br><br>

				<a href="{{path('sujet2devspe_adresseenseignant')}}" > Modifier l'adresse </a><br>
				<a href="#"> Modifier le mot de passe </a>
			</p>
{% endblock %}