{# src/Sujet2/DevSpeBundle/Resources/views/Sujet2View/profilenseignant.html.twig #}
 
{% extends "::layout.html.twig" %}

{% block title %} Profil {% endblock %}

{% block body %} 
{% include "Sujet2DevSpeBundle:Sujet2View:MenuEnseignant.html.twig" %}
<div id="alerte" class="alert alert-error" style="display:none"> <strong>Les deux mots de passe doivent être identiques !</strong> </div>
{#<div class="span12" id="span12intérieur">#}
			<legend color="dark"><h2 id="h2title">Profil</h2></legend>
			<ul>
			Nom :
            <li>{{ enseignant.ensNom }}</li>
			Prénom :
			<li>{{ enseignant.ensPrenom }}</li>
			Adresse : 
			<li>{{ enseignant.ensAdresse }}</li>
			 </ul>
			<a href="#" > Modifier l'adresse </a>
			<a href="#"> Modifier le mot de passe </a>
{% endblock %}