body {
    margin: 0px;
    background: #555555;
	margin-bottom: 20px;
}

[class*="span"] {
	 background-color: white;
	 margin-bottom: 0px;
	 margin-left: 5px;
	 border-radius: 5px 5px 5px 5px;
	 line-height: 18px;
}

.span12 {
   background-color: white;
   margin: 0px;
   padding: 0px;
}

#span12blue {
   background-color: rgb(0,69,117);
   padding: 7px;
}

#span12fond {
	box-shadow: 6px 6px 6px #222222;
	border:solid 10px white;
}

#span12interieur {
	background-color: rgb(202,196,255);
	margin: 0px;
	margin-bottom: 0px;
	margin-top: 13px;
}

#spanfondblue {
	background-color: rgb(202,196,255);
}


.span6 {
	background-color: rgb(0,69,117);
}

#span4image {
	background-color: rgb(0,69,117);
}

#well{
	background-color: rgb(202,196,255);
}

ul {
	color: darkblue;
}

p {
	margin: 15px;
	color: darkblue;
	text-align: justify;
}

h1 {
	margin: 10px;
	color: white;
}

#h2title {
	text-align: center;
	color: rgb(0,69,117);
}


#h2subtitle {
	margin: 10px;
	color: rgb(0,69,117);
}

form {
	margin: 15px;
	color: darkblue;
}

legend {
	padding: -20px;
}

#brandsousmenu{
	margin: -10px;
}

#navsousmenu {
	margin-bottom: 0px;
}

.row-fluid {
	width: 85%;
}

