{
% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% include "Sujet2DevSpeBundle:Sujet2View:MenuEnseignant.html.twig" %}

<div class="span12" id="span12interieur">
	<legend><h2 id="h2title">Modification du mot de passe</h2></legend>
	
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}

{% endblock fos_user_content %}
4